{% extends 'formexample/master.html' %}
{% block maincontent %}


<form action="" method="POST">
	{% csrf_token %}
Enter First Subject Marks <br>
<input type="number" name="txtnum1" value="{{m1}}" required="" />
<br><br>
Enter Second Subject marks<br>
<input type="number" name="txtnum2" value="{{m2}}" required="" />
<br><br>
Enter Third Subject marks<br>
<input type="number" name="txtnum3" value="{{m3}}" required="" />
<br><br>
Enter Fourth Subject marks<br>
<input type="number" name="txtnum4" value="{{m4}}" required="" />
<br><br>
Enter Fifth Subject marks<br>
<input type="number" name="txtnum5" value="{{m5}}"  required="" />
<br><br>
<input type="submit" name="btnsubmit" value="Calculate" />


</form>	
<br>
<table>
{%  for d,v in data.items  %}

<tr><th>{{d}}</th><td>{{v}}</td></tr>

{% endfor   %}
</table>
<br>
{{key}}

{% endblock  %}